---
---

// Variables
$main: 18;
$line: 30;

// Vertical rhythm

@mixin font($size, $height: 1) {
  font-size: #{$size / $main}em;
  line-height: #{$line / $size / $height};
}

@mixin padding($size, $top: 0, $bottom: 0, $lateral: 0) {
  padding: $top * $line / $size + em $lateral + em $bottom * $line / $size + em;
}

// Main elements

* {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  font-weight: normal;
  text-align: justify;
  -webkit-text-size-adjust: none;
}

body {
  font: #{$main / 16}em / #{$line / $main} PT Serif, Cambria, Georgia, serif;
  @media screen and (max-width: 470px) {
    font-size: 0.875em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 1.1875em;
  }
}

a {
  color: #156f8f;
  text-decoration: none;
  &:hover {
    color: #0c4255;
    text-decoration: underline;
  }
}

img {
  width: 100%;
}

.article, .nav ul {
  max-width: 31em;
  @include padding($main, 0, 0, 1);
}

h1, h2, hr, .date, .original, .nav, .foot {
  text-align: center;
}

p {
  @include padding($main, 0.5, 0.5);
}

strong {
  font-weight: bold;
}

// Titles
h2 {
  position: relative;
  top: 0.5 * $line / 25 + em;
  @include font(25);
  @include padding(25, 1, 1);
  font-style: italic;
  color: #666666;
  background: linear-gradient(white 52%, #e8e8e8 52%, white 53.5%);
  text-shadow: -0.2em 0 white, 0.2em 0 white, -0.1em 0 white, 0.1em 0 white;
}

h3 {
  @include font(21);
  @include padding(21, 1, 0);
  color: #888888;
}

// Articles list

.list {
  @include padding(18, 1);
  h2 {
    color: #cccccc;
    @include font(19);
    padding: 0;
    margin: $line / 19 + em 0;
  }
  a {
    @include font(20);
    display: block;
    max-width: 19em;
    div {
      @include font(13);
      margin-left: -3em;
      text-align: right;
      width: 2em;
      position: absolute;
      color: #dddddd;
    }
  }
}

// Other pages
sup {
  padding: 0.07em;
  font-size: 0.8em;
  line-height: 0;
}

.date {
  @include padding(19, 2, 1);
  @include font(19);
  font-style: italic;
  color: #aaaaaa;
}

.original {
  @include padding(13, 0, 1);
  @include font(13, 2);
  margin-top: -$line / 13 + em;
  font-style: italic;
  color: #d4d4d4;
}

.article li {
  padding-left: 2em;
  &:before {
    content: "– ";
  }
}

.article > p:first-child {
  padding-top: 4em;
}

.list li {
  padding-left: 0;
  &:before {
    content: "";
  }
}

// Head and foot

h1 {
  @include font(26);
  background-color: #252525;
  /* Background pattern from subtlepatterns.com */
  background-image: url("/css/bright-squares.png");
  color: white;
  top: 0;
  text-shadow: 0 0 0 black, 0 0 0.3em black;
  border-top: 2 * $line / 26 + em #191919 solid;
  @include padding(26, 2, 2);
}

.page h1 {
  @include padding(26, 2.5, 2.5);
}

.nav, .foot {
  position: absolute;
  left: 0;
  width: 100%;
}

.nav, .foot {
  z-index: 1;
}

.nav {
  position: fixed;
  background-color: #191919;
  li {
    float: left;
    padding: 0;
    &:first-child a {
      color: #dddddd;
    }
  }
  a {
    @include padding($main, 0.5, 0.5, 0.5);
    display: block;
    float: left;
    color: #777777;
  }
  a:hover, .en .en, .fr .fr {
    color: white;
  }
  .lang {
    float: right;
  }
}

.en .en, .ru .ru {
  color: white;
}

.foot {
  @include font(16);
  @include padding(16, 1, 1);
  position: absolute;
  color: #dddddd;
  background: #fcfcfc;
  span, a {
    color: #d0d0d0;
  }
  a:hover {
    color: #999999;
    text-decoration: none;
  }
}

hr {
  @include font(24);
  @include padding(24, 2, 3);
  border: 0;
  color: #cccccc;
  &:before {
    content: "*\00a0*\00a0*";
    white-space: pre;
  }
}

// Code

code {
  font-family: PT Sans, Calibri, Arial, sans;
  color: #4d4e53;
  line-height: 1.5;
  background: whitesmoke;
  border: 3px solid whitesmoke;
}

pre {
  @include padding($main, 0.5, 0.5, 0.75);
  font-family: monospace, monospace;
  overflow-x: auto;
  background: whitesmoke;
  border-left: 6px solid #eeeeee;
  code {
    border: none;
  }
}

.ge,.gs {
  color: #93a1a1;
}

.nb {
  color: #b58900;
}

.c,.cm,.c1,.sb {
  color: #586e75;
}

.err,.g,.l,.n,.p,.go,.gp,.gt,.ld,.na,.nl,.nn,.nx,.py,.w,.sd,.sh {
  color: #93a1a1;
}

.k,.o,.cp,.cs,.gi,.kn,.kp,.ow {
  color: #859900;
}

.x,.gh,.gu,.kc,.no,.ni,.ne,.se {
  color: #cb4b16;
}

.gd,.m,.s,.mf,.mh,code .mi,code .mo,.sc,.s2,.si,.sx,.s1,.ss,.il {
  color: #2aa198;
}

.gr,.kt,.sr {
  color: #dc322f;
}

.kd,.kr,.nc,.nd,.nf,.nt,.nv,.bp,.vc,.vg,.vi {
  color: #268bd2;
}

// Marginalias

@media screen and (min-width: 1000px) {
  .as:after {
    content: "*";
    color: #cccccc;
  }
  .br {
    display: none;
  }
  .mar {
    @include font(14);
    font-style: italic;
    position: absolute;
    left: 58%;
    right: 1em;
    margin-left: 17em;
    max-width: 16em;
    text-align: left;
    color: #d4d4d4;
    &:before {
      content: "* ";
    }
    &:after {
      content: ".";
    }
    code, a {
      color: #cccccc;
      font-style: normal;
    }
    a:hover {
      color: #aaaaaa;
    }
  }
}

// LaTeX logo

.latex {
  letter-spacing: 0.8px;
  sup, sub {
    position: relative;
    vertical-align: 0;
    text-transform: uppercase;
  }
}

.latex sup {
  bottom: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
  font-size: 0.85em;
}

.latex sub {
  top: 0.25em;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}
