blinker>=1.4
docutils>=0.15.2
feedgenerator>=1.9
ghp-import>=0.5.5
Jinja2>=2.10.1
Markdown>=3.1.1
MarkupSafe>=1.1.1
pelican>=4.1.0
pelican-neighbors>=1.0.0
Pygments>=2.4.2
pymdown-extensions>=6.0
python-dateutil>=2.8.0
pytz>=2019.1
six>=1.12.0
smartypants>=2.0.1
typogrify>=2.0.7
Unidecode>=1.1.1
pelican-readtime
pelican-gist
minchin.pelican.plugins.optimize-images
invoke
livereload
Markdown-No-Lazy-Code-Extension
Markdown-No-Lazy-BlockQuote-Extension
