{% extends "base.html" %}
{% macro customedate(date) -%}

    {% if 4 <= date.day <= 20 or 24 <= date.day <= 30 %}
        {% set suffix = "th" %}
    {% else %}
        {% set suffix = ["st", "nd", "rd"][date.day % 10 - 1] %}
    {% endif %}

    {{date.day}}{{suffix}} {{ date | strftime('%B %Y')}}
{%- endmacro %}




{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
{% endblock %}

{% block content %}
<article>

    <div class="center">
        <h1>{{ article.title }}</h1>

        <time class="published">{{ customedate(article.date) }}</time>



        {% if article.modified %}
          <time class="modified"> / upd: {{ customedate(article.modified) }}</time>
        {% endif %}

        <div class="readtime">
            {% if article.readtime %}
            ~&nbsp;{{article.readtime}}&nbsp;min&nbsp;read
            {% else %}
            ~&nbsp;1&nbsp;min&nbsp;read
            {% endif %}
        </div>

    </div>

    <div class="divider"></div>

    {{ article.content }}



    <div class="page-navigation code">
    {% if article.prev_article %}
        <a class="prev" href="{{ SITEURL }}/{{ article.prev_article.url }}" title="{{ article.prev_article.title | striptags }}">&larr; older</a>
    {% endif %}

    {% if article.prev_article and article.next_article %}
        <span>&nbsp; &middot; &nbsp; &middot; &nbsp; &middot; &nbsp;</span>
    {% endif %}

    {% if article.next_article %}
        <a class="next" href="{{ SITEURL }}/{{ article.next_article.url}}" title="{{ article.next_article.title | striptags }}">newer &rarr;</a>
    {% endif %}
    </div>

    {% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}

</article>
{% endblock %}
