{% extends "base.html" %}


{% block title %}{{ article.title | striptags }} | {{ SITENAME }}{% endblock %}

{% if article.summary %}
{% block meta_description %}
<meta name="description" content="{{ article.summary|striptags }}"/>
{% endblock %}
{% endif %}

{% block head %}
  {{ super() }}

  {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(', ') }}" />
  {% endif %}

  {% if article.category %}
    <meta name="category" content="{{ article.category }}" />
  {% endif %}
{% endblock %}

{% block content %}
<article>

    <h1>{{ article.title }}</h1>

    <div class='article-meta'>

        <time class="published">{{ article.date | strftime('%-d %b %Y') }}</time>

        {% if article.modified %}
        <span class="modified"> upd: {{ article.modified | strftime('%-d %b %Y') }}</span>
        {% endif %}

        <span class="readtime">
            <span class='icon-clock' aria-hidden="true"></span>
        {% if article.readtime and article.readtime > 1 %}
            {{article.readtime}}&nbsp;mins
        {% else %}
            1&nbsp;min
        {% endif %}
        </span>

        {% if article.category %}
        <span class="article-category">
            <span class="icon-folder-open" aria-hidden="true"></span>
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </span>
        {% endif %}

        {% if article.tags %}
        <span class="article-tags">
            <span class='icon-tags' aria-hidden="true"></span>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}


        <span class="article-comments">
            <span class='icon-chat-empty' aria-hidden="true"></span>
            <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" data-disqus-identifier="{{article.id}}">0 comments</a>
        </span>

    </div>


    {{ article.content }}



    <div class="page-navigation code">
    {% if article.prev_article %}
        <a class="prev" href="{{ SITEURL }}/{{ article.prev_article.url }}" title="{{ article.prev_article.title | striptags }}">&larr; older</a>
    {% endif %}

    {% if article.prev_article and article.next_article %}
        <span>&nbsp; &middot; &nbsp; &middot; &nbsp; &middot; &nbsp;</span>
    {% endif %}

    {% if article.next_article %}
        <a class="next" href="{{ SITEURL }}/{{ article.next_article.url}}" title="{{ article.next_article.title | striptags }}">newer &rarr;</a>
    {% endif %}
    </div>

    {% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}

</article>
{% endblock %}
