<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

    <head>
        {% block head %}

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />

        {% include "canonicals.html" %}

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}

        {% block meta_description %}
        <meta name="description" content="{{ SITE_SUMMARY }}"/>
        {% endblock meta_description %}

        <link rel="icon" href="{{ SITEURL }}/theme/favicon.ico">
        <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/fontello.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/solarized-light.css" />

        {% include "disqus.html" %}
        {% include "ga_consent.html" %}
        {% endblock head %}
    </head>

<body id="index" class="home">
    <nav>
        <ul>
          <li><a class="site-title" href="{{ SITEURL }}/">{{ SITENAME }}</a></li>
          <li{% if page_name == 'index' %} class="active"{% endif %}><a class="site-title" href="{{ SITEURL }}/">Blog</a></li>

          <li{% if page and page.slug == 'about' %} class="active"{% endif %}><a href="{{ SITEURL }}/pages/about">About</a></li>
          <li{% if page and page.slug == 'meta' %} class="active"{% endif %}><a href="{{ SITEURL }}/meta">Meta</a></li>
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}">RSS</a></li>

        </ul>

    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <a href="mailto:{{ EMAIL }}">Yuliya Bagriy</a><span> &middot; {{ CURRENTYEAR }} &middot; </span><a href="{{ SITEURL }}/pages/privacy-and-cookies">Privacy</a>
    </footer>

{% block scripts %}
    {% if DISQUS_SITENAME and article %}
    <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
    {% endif %}
{% endblock scripts %}

</body>
</html>
