{% extends "base.html" %}

{% block title %}Categories & Tags | {{ SITENAME }}{% endblock %}

{% block meta_description %}
<meta name="description" content="Here you can find a list of all categories and tags."/>
{% endblock %}

{% block content %}

<section>
    <h1>Categories & Tags</h1>
    <ul class='meta_categories'>
        {%- for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">
            <span class='icon-folder-open icon' aria-hidden="true"></span>
            {{ category }}
        </a></li>
        {% if category.tags %}
        <ul class='meta_tags'>
            {%- for tag in category.tags %}
            <li class='title'><a href="{{ SITEURL }}/{{ tag.url }}">
                <span class='icon-tags icon' aria-hidden="true"></span>
                {{tag}}
            </a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ul>
</section>


{% endblock content %}
