  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  if(!(window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1")) {
    window.addEventListener("load", function(){
      function enableCookies() {
        {% if GOOGLE_ANALYTICS %}
          window.dataLayer = window.dataLayer || [];
          {% if page_name == 'index' %}
            window.dataLayer.push({'pageType': 'home'});
          {% elif page and page.title == 'About' %}
            window.dataLayer.push({'pageType': 'about'});
          {% elif article %}
            window.dataLayer.push({
              'pageType': 'article',
              'articleCategory': '{{ article.category }}',
              'articleTags': {{ article.tags | map(attribute='name') | list | tojson }}
            });
          {% else %}
            window.dataLayer.push({'pageType': 'page'});
          {% endif %}

          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{GOOGLE_ANALYTICS}}');
        {% endif %}
      }

      function handleStatus(status) {
        if ('allow' === status) {
          enableCookies();
        }
      }
      window.cookieconsent.hasTransition = false;

      window.cookieconsent.initialise({
        palette: {
          popup: {background: "#000000"},
          button: {background: 'transparent', border: "#d47500"},
          highlight: {background: 'transparent', border: '#008000'}
        },
        type: "opt-in",
        content: {
          message: "This site uses cookies for analytics.",
          href: '{{ SITEURL }}/pages/privacy-and-cookies',
        },
        onInitialise: handleStatus,
        onStatusChange: handleStatus
      })
    });
  }
  </script>
