{% extends "base.html" %}

{% block title %}{{ super() }} — Categories & Tags{% endblock %}


{% block content %}

<section>
<ul>
    <li><div class="post-date">Categories</div></li>
    <ul class='tags'>
        {%- for category, articles in categories|sort %}
        <li>
            <a href="{{ SITEURL }}/{{ category.url }}">
                {{ category }}
                <span class='tag-count'>({{ articles|count }})</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <li><div class="post-date">Tags</div></li>

    <ul class='tags'>
        {%- for tag, articles in tags|sort %}
        <li>
            <a href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag }}
                <span class='tag-count'>({{ articles|count }})</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</ul>
</section>


{% endblock content %}
