{% block meta_info %}

{% if page_name == "index" %}
    <link rel="canonical" href="{{ SITEURL }}">

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@{{ TWITTER_USERNAME }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:description" content="{{ SITE_SUMMARY }}" />
    <meta property="og:image" content="{{ SITEURL }}/images/og_default.png" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />


{% elif article %}
    {% if article.status != "draft" %}
    {% if article.canonical_url %}
    <link rel="canonical" href="{{ article.canonical_url }}">
    {% else %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>
    {% endif %}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@{{ TWITTER_USERNAME }}" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:title" content="{{ article.title | striptags }}" />
    <meta property="og:description" content="{% if article.og_description is defined %}{{ article.og_description | striptags | e}}{% else %}{{ article.summary | striptags }}{% endif %}" />
    <meta property="og:image" content="{{ SITEURL }}/images/{% if article.og_image is defined %}{{ article.og_image }}{% else %}og_default.png{% endif %}" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
    <meta property="article:author" content="https://www.aviskase.com/pages/about/" />
    <meta property="article:published_time" content="{{ article.date }}" />

    {% if article.modified %}
    <meta property="article:modified_time" content="{{ article.modified }}" />
    {% endif %}

    {% if article.category %}
    <meta name="category" content="{{ article.category }}" />
    <meta property="article:section" content="{{ article.category }}" />
    {% endif %}

    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags | join(', ') }}" />
    {% for tag in article.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% endif %}
    {% endif %}

{% elif page %}
    {% if page.status != "hidden" %}
    <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}"/>

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@{{ TWITTER_USERNAME }}" />

    {% if page.slug == 'about' %}
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Yuliya" />
    <meta property="profile:last_name" content="Bagriy" />
    <meta property="profile:username" content="aviskase" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}

    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
    <meta property="og:title" content="{{ page.title | striptags }}" />
    {% if page.og_description is defined %}
    <meta property="og:description" content="{{ page.og_description | striptags | e}}" />
    {% elif page.summary %}
    <meta property="og:description" content="{{ page.summary | striptags }}" />
    {% else %}
    <meta property="og:description" content="{{ SITE_SUMMARY }}" />
    {% endif %}
    <meta property="og:image" content="{{ SITEURL }}/images/{% if page.og_image is defined %}{{ page.og_image }}{% else %}og_default.png{% endif %}" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />


    {% endif%}

{% else %}
    <link rel="canonical" href="{{ SITEURL }}/{{page_name}}">
{% endif %}

{% endblock %}
