{{- $src := .Page.Resources.GetMatch (printf "*%s*" .Destination) -}}
{{ if or (hasPrefix .Destination "http://" ) (hasPrefix .Destination "https://" ) }}
<img src="{{.Destination}}" {{ with .Text }}alt="{{.}}"{{ else }}alt=""{{ end }} {{ with .Title }}title="{{.}}"{{ end }}>
{{ else if hasSuffix $src ".gif" }}
<img src="{{$src.RelPermalink}}" {{ with .Text }}alt="{{.}}"{{ else }}alt=""{{ end }} {{ with .Title }}title="{{.}}"{{ end }}>
{{ else }}
<figure>
  <picture>
    {{ $resizeOptions := printf "%dx%d webp" $src.Width $src.Height }}
    {{ $webpImg := $src.Resize $resizeOptions }}
    <source srcset="{{ $webpImg.Permalink }}" type="image/webp">
    <img src="{{ $src.Permalink }}" alt="{{ .Text }}" defer>
	</picture>
	{{ with .Title }}
    <figcaption>
    <p class="caption">{{ . }}</p>
	</figcaption>
	{{ end }}
</figure>
{{- end -}}