{{- $src := .Page.Resources.GetMatch (printf "*%s*" .Destination) -}}
{{- $img_class := "mx-auto rounded" -}}
{{ if or (hasPrefix .Destination "http://" ) (hasPrefix .Destination "https://" ) }}
<img class="{{ $img_class }}" src="{{.Destination}}" {{ with .Text }}alt="{{.}}"{{ else }}alt=""{{ end }} {{ with .Title }}title="{{.}}"{{ end }}>
{{ else if hasSuffix $src ".gif" }}
<img class="{{ $img_class }}" src="{{$src.RelPermalink}}" {{ with .Text }}alt="{{.}}"{{ else }}alt=""{{ end }} {{ with .Title }}title="{{.}}"{{ end }}>
{{ else }}
<figure>
  <picture>
    {{ $resizeOptions := printf "%dx%d webp" $src.Width $src.Height }}
    {{ $webpImg := $src.Resize $resizeOptions }}
    <source srcset="{{ $webpImg.Permalink }}" type="image/webp">
    <img class="{{ $img_class }}" src="{{ $src.Permalink }}" alt="{{ .Text }}" defer>
	</picture>
	{{ with .Title }}
  <figcaption class="text-center">
    <p class="caption">{{ . }}</p>
	</figcaption>
	{{ end }}
</figure>
{{- end -}}