{% capture hide %}

{% if include.mode != 'month' %}

    {% assign day = include.date | date: "%-d" %}

    {% if page.lang != 'ru' %}

        {% case day %}
            {% when '1' or '21' or '31' %}
                {% capture sup %}st{% endcapture %}
            {% when '2' or '22' %}
                {% capture sup %}nd{% endcapture %}
            {% when '3' or '23' %}
                {% capture sup %}rd{% endcapture %}
            {% else %}
                {% capture sup %}th{% endcapture %}
        {% endcase %}

        {% capture month_case %}{{ include.date | date: "%B" }}{% endcapture %}

    {% else %}

        {% capture sup %}{% endcapture %}

        {% assign m = include.date | date: "%-m" %}
        {% case m %}
            {% when '1' %}
                {% capture month_case %}января{% endcapture %}
            {% when '2' %}
                {% capture month_case %}февраля{% endcapture %}
            {% when '3' %}
                {% capture month_case %}марта{% endcapture %}
            {% when '4' %}
                {% capture month_case %}апреля{% endcapture %}
            {% when '5' %}
                {% capture month_case %}мая{% endcapture %}
            {% when '6' %}
                {% capture month_case %}июня{% endcapture %}
            {% when '7' %}
                {% capture month_case %}июля{% endcapture %}
            {% when '8' %}
                {% capture month_case %}августа{% endcapture %}
            {% when '9' %}
                {% capture month_case %}сентября{% endcapture %}
            {% when '10' %}
                {% capture month_case %}октября{% endcapture %}
            {% when '11' %}
                {% capture month_case %}ноября{% endcapture %}
            {% when '12' %}
                {% capture month_case %}декабря{% endcapture %}
        {% endcase %}


    {% endif %}

{% endif %}

{% if page.lang != 'ru' %}

    {% capture month %}{{ include.date | date: "%B" }}{% endcapture %}

{% else %}

    {% assign m = include.date | date: "%-m" %}
    {% case m %}
        {% when '1' %}
            {% capture month %}январь{% endcapture %}
        {% when '2' %}
            {% capture month %}февраль{% endcapture %}
        {% when '3' %}
            {% capture month %}март{% endcapture %}
        {% when '4' %}
            {% capture month %}апрель{% endcapture %}
        {% when '5' %}
            {% capture month %}май{% endcapture %}
        {% when '6' %}
            {% capture month %}июнь{% endcapture %}
        {% when '7' %}
            {% capture month %}июль{% endcapture %}
        {% when '8' %}
            {% capture month %}август{% endcapture %}
        {% when '9' %}
            {% capture month %}сентябрь{% endcapture %}
        {% when '10' %}
            {% capture month %}октябрь{% endcapture %}
        {% when '11' %}
            {% capture month %}ноябрь{% endcapture %}
        {% when '12' %}
            {% capture month %}декабрь{% endcapture %}
    {% endcase %}

{% endif %}

{% capture year %}{{ include.date | date: "%Y" }}{% endcapture %}

{% endcapture %}