<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.85">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | replace: "[[", " ("  | replace: "]]", ")" | truncate: 160 }}{% else %}{{ site[page.lang].description }}{% endif %}">
    <title>{% if page.title %}{{ page.title | escape }} &middot; {{ site[page.lang].title }} {% else %}{{ site[page.lang].title | escape }}{% endif %}</title>
    <link rel="icon" href="{{ "/css/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700|PT+Sans|PT+Serif:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site[page.lang].title }}" href="{{ site[page.lang].feed | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% include ga.html %}
</head>

