<div class="nav">
  <ul>
    <li><a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a></li>

    {% assign my_page=site.pages | where:"lang", page.lang | where:"ref", "about" | first%}
    <li><a href="{{ my_page.url | prepend: site.baseurl }}">{% if my_page.down_title %}{{ my_page.down_title }}{% else %}{{ my_page.title | downcase }}{% endif %}</a></li>

    <li class="lang">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %} <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}
      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %} <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
    </li>



  </ul>
</div>