
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-tags:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */