{{ define "content" }}
<div class="title-hero"><h1>{{ partial "func/MakeTitle" (dict "title" .Title ) }}</h1></div>
<section class="normal:max-w-4xl mx-6 mt-12 normal:mx-auto">
    <ul>{{ range (where site.RegularPages "Type" "eq" "articles").GroupByDate "2006-01" -}}
        {{- $firstArticle := index .Pages 0 -}}
        <li><div class="lowercase mb-3 yearmonth">/&nbsp;{{ $firstArticle.Date.Format "January 2006" }}&nbsp;/</div></li>
        <ul class="mb-16">{{ range .Pages }}
            <li>
                <a class="flex hover:text-blue-500 mb-3" href="{{ .Permalink }}">
                    <div class="w-12 text-blue-500">{{ .Date.Day }}</div>
                    <div class="">{{ partial "func/MakeTitle" (dict "title" .Title ) }}</div>
                </a>
            </li>
        {{ end }}</ul>
    {{ end }}</ul>
</section>
{{ end }}

