<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    {{ partial "head.html" . }}
    <body>
        {{- partial "dev-size-indicator.html" . -}}
        <div class="min-h-screen grid grid-rows-mainLayout">
            {{- partial "header.html" . -}}
            <main>
            {{ block "content" . }}{{ end }}
            </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>