<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    {{ partial "head.html" . }}
    <body class="selection:bg-blue-500 selection:text-white bg-white text-slate-950 font-sans text-[1.8rem] leading-[1.77]">
        <div class="min-h-screen grid grid-rows-mainLayout">
            {{- partial "header.html" . -}}
            <main>
            {{ block "content" . }}{{ end }}
            </main>
            {{- partial "footer.html" . -}}
        </div>
        {{/*  {{- partial "dev-size-indicator.html" . -}}  */}}
    </body>
</html>