@import './reset';
@import './monospace';
@import './catppuccin';
@import './fonts';


:root {
  --background-color:  var(--ctp-mocha-base);
  --text-color: var(--ctp-mocha-text);
  --line-height: 1.6rem;
  font-size: 20px;
}


@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a:link, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

header  {
  border: 4px double var(--ctp-mocha-yellow);
  padding: 0 2ch;
  text-transform: uppercase;
  font-size: 1.3rem;
}

header a {
  color: var(--ctp-mocha-text);
}

header a.current-page {
  border-bottom: 1px solid var(--ctp-mocha-yellow);
}


header .title  {
  background: var(--ctp-mocha-base);
  color: var(--ctp-mocha-yellow);
  top: 1ch;
  right: 2ch;
  font-size: 2rem;
  padding: 0 1ch;
  position: absolute;
  display: inline-block;
  font-weight: bold;
}

main {
  flex-grow:1;
}


footer {
  margin-top: calc(var(--line-height)*1);
}

footer a:link, footer a:visited, footer span {
  margin: 0;
  font-size: 0.8rem;
  color: var(--ctp-mocha-subtext0);
}

footer a::before {
  content: " · ";
}

footer svg {
  fill: var(--ctp-mocha-subtext0);
  vertical-align: middle;
}

h1 {
  margin: 0;
}

a.external-link {
  text-decoration: underline;
  color: var(--ctp-mocha-blue);
}

a.external-link:hover, .article-list a:hover, .article-props a:hover {
  background: var(--ctp-mocha-blue);
  color: var(--ctp-mocha-base);
}

a.internal-link::before {
  content: "[[";
}

a.internal-link::after {
  content: "]]";
}

a.internal-link::before, a.internal-link::after {
  color: var(--ctp-mocha-blue);
}

a.internal-link:hover, a.internal-link:focus,
a.internal-link:hover::before, a.internal-link:hover::after,
a.internal-link:focus::before, a.internal-link:focus::after {
  background: var(--ctp-mocha-blue);
  color: var(--ctp-mocha-base);
}

em {
  color: var(--ctp-mocha-green);
}

strong, strong > em {
  color: var(--ctp-mocha-red);
}

.article-props th, .article-props td, .article-props tr:first-child > * {
  color: var(--ctp-mocha-subtext0);
  border: none;
  font-size: 0.8rem;
  padding: 0;
  font-weight: normal;
  padding-right: 2ch;
}

.article-props a {
  color: var(--ctp-mocha-subtext0);
  text-decoration: underline;

}


/* h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
  h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: var(--ctp-mocha-base);
} */


h2 a::before {  content: "░ "; }
h3 a::before {  content: "░░ "; }
h4 a::before {  content: "░░░ "; }
h5 a::before {  content: "░░░░ "; }
h6 a::before {  content: "░░░░░ "; }


code {
  font-weight: normal;
  text-transform: none;
}

code::after, code::before {
  content: "`"
}

p > code, li > code, .kbd {
  background-color: var(--background-colour);
  border: 1px dotted var(--ctp-mocha-blue);
  color: var(--ctp-mocha-blue);
  border-radius: 2px;
  overflow-wrap: anywhere;
  padding-inline: .5rem;
}

.kbd {
  border-bottom: 2px solid var(--ctp-mocha-blue);
}



p > code::after, li > code::after,
pre > code::after, pre > code::before,
p > code::before, li > code::before {
  content: none;
}

pre * + * {
  margin-top: 0 !important;
}

blockquote {
  border: 4px double var(--ctp-mocha-subtext0);
  margin-left: 0;
  margin-right: 0;
  padding-left: 2ch;
  padding-right: 2ch;
  position: relative;
}

blockquote::before {
  content: "«...»";
  position: absolute;
  color: var(--ctp-mocha-subtext0);
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}

.callout {
  border: 4px double var(--ctp-mocha-subtext0);
  padding-left: 2ch;
  padding-right: 2ch;
  position: relative;
}

.callout > :first-child {
  margin-top: var(--line-height);
}

.callout.note::before {
  content: "note";
  position: absolute;
  color: var(--ctp-mocha-sky);
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}

.callout.warning {
  border-color: var(--ctp-mocha-red);
}

.callout.note {
  border-color: var(--ctp-mocha-sky);
}

.callout.cta {
  border-color: var(--ctp-mocha-peach);
}

.callout.warning::before {
  content: "warning";
  position: absolute;
  color: var(--ctp-mocha-red);
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}

.callout.cta::before {
  content: "!!!";
  position: absolute;
  color: var(--ctp-mocha-peach);
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}

.callout.info::before {
  content: "info";
  position: absolute;
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}

.callout.see-also::before {
  content: "see also";
  position: absolute;
  background-color: var(--ctp-mocha-base);
  top: -1rem;
  left: 0.8rem;
  padding: 0 0.4rem;
}


.article-nav {
  border: 2px solid var(--ctp-mocha-yellow);
  padding: 1ch 0;
  display: flex;
  justify-content: space-between;  
  flex-direction: row;
  margin-top: calc(var(--line-height)*2);
}

.article-nav span {
  margin: 0;
  position: relative;
}

.article-nav-middle {
  flex-grow: 0;
  color: var(--ctp-mocha-yellow);
}

.article-nav-new, .article-nav-old {
  flex-grow:1;
  width: 0;
}
.article-nav-old a {
  position: relative;
  left: -0.5ch;
  background-color: var(--background-color);
}

.article-nav a:hover {
  color: var(--ctp-mocha-yellow);
}

.article-nav-new {
  text-align: end;
}

.article-nav-new a { 
  position: relative;
  right: -0.5ch;
  background-color: var(--background-color);
}

.article-nav-old .arrow {
  position: relative;
  top: 1px;
  padding-right: 2ch;
  color: var(--ctp-mocha-yellow);

}

.article-nav-new .arrow {
  position: relative;
  top: 1px;
  padding-left: 2ch;
  color: var(--ctp-mocha-yellow);

}

.see-more {
  margin-top: calc(var(--line-height)*2);
}


.see-more a {
  border: 2px solid var(--ctp-mocha-text);
  padding: 1ch;
}

.see-more a:hover {
  color: var(--ctp-mocha-blue);
  border-color: var(--ctp-mocha-blue);
}

.highlight {
  border: 4px double var(--ctp-mocha-subtext0);
  margin-bottom: var(--line-height);
}

.highlight pre {
margin: 1ch;
}


article ol {
  counter-reset: counts 0;
}

article ol > li:before {
  counter-increment: counts;
  content: counter(counts)'. ';
}

article ol ul > li:before {
  content: '';
}

article ol ol > li:before {
  content: counters(counts, '.') '.';
}


img {
  border: 2px solid var(--ctp-mocha-subtext0);
}

picture img {
  margin-top: 0;
}

figcaption {
  border: 2px solid var(--ctp-mocha-subtext0);
  border-top: 2px dashed var(--ctp-mocha-subtext0);
  caption-side: bottom;
  color: var(--ctp-mocha-subtext0);
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0;
}

figcaption p {
  margin-bottom: calc(var(--line-height)*0.5);
}

hr, hr::after {
  color: var(--ctp-mocha-subtext0);
  border-color: var(--ctp-mocha-subtext0);
}


.gist {
  filter: invert(1) hue-rotate(180deg) brightness(1);
}

.gist .gist-meta {
  margin-top: 0;
}

.home h2:first-child {
  margin-top: 0;
}

.home h2 {
  margin-bottom: 0;
  background-color: var(--ctp-mocha-surface0);
}

.home h2::before {  content: "░ "; }

.home .article-list {
  margin-top: 0;
}

.home .lucide-rss {
  position: relative;
  top: 0.15rem;
}

.home .rss-link {
  padding-left: 1ch;
}

.title > * {
  display: inline-block;
}

.title .rss-link {
  padding-left: 1ch;
  position: relative;
  top: 3px;
}


.tree ul li:last-child {
  padding-left: calc(1.5ch + 2px);
}