h1, h2, h3, h4, h5, h6, strong {
    @apply font-bold;
 }
  
h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
}

article > p {
    @apply text-[1.8rem] leading-[3.2rem] my-[2.4rem];
}

article em {
    @apply text-blue-500 font-serif italic font-bold tracking-tight;
}

article a {
    @apply cursor-pointer;
}

article hr {
    @apply h-px my-[5.6rem] border-0;
    background: radial-gradient(circle, theme(colors.blue.500) 0%, theme(colors.blue.400) 50%, theme(colors.amber.300), white);
}


article p > code, article li > code, article td > code {
    @apply text-[0.8em] font-mono inline-block bg-slate-200 py-[0.2rem] px-[0.6rem] my-[0.1rem] mx-0 rounded-[0.3rem];
}

a code, h1 code, h2 code, h3 code, h4 code, article th > code {
    @apply text-[0.9em] font-mono;

    &::after, &::before {
        @apply content-['`'];
    }
}

article .gist {
    @apply w-full my-[2.4rem] mx-0;
}

article .gist .gist-file {
    @apply mb-0;
}

article .highlight {
    @apply w-full my-[2.4rem] mx-0 p-bleed overflow-auto rounded-[0.6rem] bg-[#282a36];
}

article .highlight code {
    @apply text-[0.8em] font-mono;
}



article blockquote {
    @apply w-full my-[2.4rem] mx-0 p-bleed bg-slate-200 rounded-l-[0.3rem] rounded-r-[0.6rem] border-l-[0.3rem] border-slate-500;
}

article blockquote p, article blockquote {
    @apply text-[1.7rem];
}

article blockquote p {
    @apply mb-[1.6rem];
}


article blockquote > :last-child {
    @apply !mb-0;
}

@screen normal {
    article .highlight, article blockquote, article .gist {
        @apply w-[80.5rem] my-[2.4rem] mx-bleed-negative;
    }
}

article li {
    @apply relative mb-[1.2rem];
}

article ol {
    @apply my-[2.4rem];
    counter-reset: counts 0;
}

article ul {
    @apply my-[2.4rem];
}


article ol > li {
    @apply table;
}

article ul > li {
    @apply pl-[2.4rem];
}


article ol > li:before {
    @apply text-blue-500 font-bold table-cell pr-6;
    counter-increment: counts;
    content: counter(counts)'. ';
}


article ol ol > li:before {
    content: counters(counts, '.') '.';
}

article li ol li:last-child, article li ol, article li ul li:last-child, article li ul {
    @apply m-0;
}


article ul > li:before {
    @apply content-['→'] text-blue-500 font-bold absolute top-0 left-0;
}

article ul ul, article ul ol, article ol ul, article ol ol {
    @apply mt-[1.2rem];
}


h2 {
    @apply text-[3rem] leading-[4rem] mt-[5.6rem] mb-[3.2rem];
}


h3 {
    @apply text-[2.4rem] leading-[3.6rem] mt-16 mb-[1.6rem];
}


h4 {
    @apply text-[1.8rem] leading-[2.8rem] mb-[0.8rem];
}

article h2 + *, article h3 + *, article h4 + *, article hr + * {
    @apply mb-0;
}

article table:not([class]) {
    @apply text-[1.6rem] leading-[1.5em] w-full;
}

article table:not([class]) thead {
    @apply font-bold bg-amber-300;
}

article table:not([class]) thead th {
    @apply align-bottom p-[0.75em];
}

article table:not([class]) tbody tr {
    @apply border border-solid border-amber-300;
} 

article table:not([class]) tbody td {
    @apply align-top p-3;
}



