:root{
    font-size: 62.5%;
}

$max-bleed-width: 80.5rem;
$bleed-padding: 2.25rem;

body {
    background-color: var(--color-bg);
    color: var(--color-text-default);
    font-family: var(--font-primary);
    font-size: 1.8rem;
    line-height: 1.77;

}

article {
    max-width: calc(100vw - 3rem);
    margin: 0 1.5rem;
}

@screen normal {
    article {
        max-width: 76rem;
        margin: 0 auto;
    }
}


.title-hero {
    @apply text-left;
    margin: 4.5rem 1.5rem 6rem;
}

.title-hero h1 {
    font-size: 4.8rem;
    line-height: 1;
}

@screen normal {
    .title-hero {
        @apply text-center;
        margin: 4.5rem 3rem 6rem;
    }
}


input#nav-toggle {
    @apply hidden;
}
  
input#nav-toggle:checked~label#show-button {
    @apply hidden;
}

input#nav-toggle:checked~label#hide-button {
    @apply flex;
}

input#nav-toggle:checked~#nav-menu {
    @apply block;
}

#show-button svg, #hide-button svg {
    fill: var(--color-text-default);
}


.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 37px;
}

.shape-divider .shape-fill {
    fill: #FFFFFF;
}

footer {
    margin-top: 6rem;
    border-top: 2px solid;
    border-image: radial-gradient(circle, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-bgdark), white) 1;
}


h1, h2, h3, h4, h5, h6, strong {
    @apply font-bold;
 }
  
h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
}

article > p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 2.4rem; 
    margin-top: 2.4rem; 
}

article em {
    color: var(--color-primary);
    font-family: var(--font-em);
    font-style: italic;
    letter-spacing: -0.25px;
    font-weight: bold;
}

article a {
    cursor: pointer;

}

article a {
    text-decoration: none;
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    transition: background .3s;

    &:hover, &:focus {
        background-image: linear-gradient(var(--color-bgdark), var(--color-bgdark));
        background-size: 100% 100%;
    }
}

article hr {
    border: 0;
    background: radial-gradient(circle, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-bgdark), white);
    height: 0.1rem;
    margin-bottom: 5.6rem; 
    margin-top: 5.6rem; 
}

article p code, article li code {
    font-family: var(--font-mono);
    font-size: 0.8em;
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    margin: 0.1rem 0px;
    display: inline-block;
    background-color: var(--color-bg-code);
}

article p kbd, article li kbd {
    font-family: var(--font-mono);
    font-size: 0.8em;
    border-radius: 0.3rem;
    padding: 0 0.6rem;
    margin: 0.1rem 0px;
    display: inline-block;
    background-color: var(--color-bg-code);
    border-style: solid;
    border-color: gray;
    border-width: 1px 1px 2px 1px;
}

.keys span {
    padding: 0 .2rem;
}

article .gist {
    width: 100%;
    margin: 2.4rem 0 2.4rem;
}

article .gist a {
    background: none;
}

article .gist .gist-file {
    margin-bottom: 0;
}

article .highlight {
    width: 100%;
    margin: 2.4rem 0 2.4rem;

    border-radius: 0.6rem;
    padding: $bleed-padding;
    background-color: #282a36;
    overflow: auto;
}

article .highlight code {
    font-family: var(--font-mono);
    font-size: 0.8em;
}



article blockquote {
    width: 100%;
    margin: 2.4rem 0 2.4rem;

    background-color: #f5f6f9;
    border-radius: 0.3rem 0.6rem 0.6rem 0.3rem;
    border-left: 0.3rem solid var(--color-text-default);
    padding: $bleed-padding;
}

article blockquote p, article blockquote, article .admonition {
    font-size: 1.7rem;
}

article blockquote p, article .admonition p {
    margin-bottom: 1.6rem;
}


article blockquote > :last-child, article .admonition > :last-child {
    margin-bottom: 0px !important;
}

article .admonition {
    width: 100%;
    margin: 2.4rem 0 2.4rem;
    position: relative;
    border-radius: 0.3rem 0.6rem 0.6rem 0.3rem;
    padding: $bleed-padding;

    &.warning {
        border-left: 0.3rem solid hsl(37deg, 100%, 50%);
        background-color: hsla(52deg, 100%, 50%, 0.25);
    }

    &.note {
        border-left: 0.3rem solid hsl(245deg, 100%, 60%);
        background-color: hsl(210deg, 55%, 92%);

    }
}

article p.admonition-title {
    font-weight: bolder;
    margin-bottom: 2rem;
}

.admonition-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    padding: 0.6rem;
    background: var(--color-bg);
    border-radius: 50%;

    .warning & {
        color: hsl(37deg, 100%, 50%);
    }

    .note & {
        color: hsl(245deg, 100%, 60%);
    }
}


@screen normal {
    article .highlight, article blockquote, article .gist, article .admonition {
        width: $max-bleed-width;
        margin: 2.4rem -$bleed-padding 2.4rem;
    }
}

article li {
    position: relative;
    margin-bottom: 1.2rem;
}

article ol {
    counter-reset: counts 0;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

article ul {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

article ol > li {
    counter-increment: counts;
    display: table;
}

article ul > li {
    padding-left: 2.4rem;
}


article ol > li:before {
    content: counters(counts, '.') '.';
    font-weight: bolder;
    color: var(--color-primary);
    display: table-cell;
    padding-right: 1.5rem;
}

article li ol li:last-child, article li ol, article li ul li:last-child, article li ul {
    margin: 0;
}


article ul > li:before {
    content: '→';
    color: var(--color-primary);
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
}

article ul ul, article ul ol, article ol ul, article ol ol {
    margin-top: 1.2rem;
    /* margin-bottom: 1.5rem; */
}


h2 {
    font-size: 3rem;
    line-height: 4rem;
    color: var(--color-tertiary);
    margin-bottom: 3.2rem;
    margin-top: 5.6rem;
}


h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
    margin-top: 4rem;
}


h4 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
}

article h2 + *, article h3 + *, article h4 + *, article hr + * {
    margin-bottom: 0;
}


article figure {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

article img {
    margin: 3.2rem auto;
    border-radius: 0.3rem;
}

article figure > * {
    margin-top: 0;
    margin-bottom: 0;
}

.article-meta {
    font-size: 2rem;
    color: hsl(225deg, 12%, 40%);
    margin-top: 2rem;

    & svg {
        bottom: 0.125em;
    }
}

@screen normal {
    .article-meta {
        display: grid;
        grid-template-columns: 1fr 5rem 1fr;
    }
}