h1, h2, h3, h4, h5, h6, strong {
    @apply font-bold;
 }
  
h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
}

article > p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 2.4rem; 
    margin-top: 2.4rem; 
}

article em {
    color: theme(colors.blue.500);
    font-family: theme(fontFamily.serif);
    font-style: italic;
    letter-spacing: -0.25px;
    font-weight: bold;
}

article a {
    cursor: pointer;
}

article hr {
    border: 0;
    background: radial-gradient(circle, theme(colors.blue.500) 0%, theme(colors.blue.400) 50%, theme(colors.amber.300), white);
    height: 0.1rem;
    margin-bottom: 5.6rem; 
    margin-top: 5.6rem; 
}


article p > code, article li > code, article td > code {
    font-family: theme(fontFamily.mono);
    font-size: 0.8em;
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    margin: 0.1rem 0px;
    display: inline-block;
    background-color: theme(colors.slate.200);
}

a code, h1 code, h2 code, h3 code, h4 code, article th > code {
    font-family: theme(fontFamily.mono);
    font-size: 0.9em;

    &::after, &::before {
        content: "`";
    }
}

article .gist {
    width: 100%;
    margin: 2.4rem 0 2.4rem;
}

article .gist .gist-file {
    margin-bottom: 0;
}

article .highlight {
    width: 100%;
    margin: 2.4rem 0 2.4rem;

    border-radius: 0.6rem;
    padding: theme(spacing.bleed);
    background-color: #282a36;
    overflow: auto;
}

article .highlight code {
    font-family: theme(fontFamily.mono);
    font-size: 0.8em;
}



article blockquote {
    width: 100%;
    margin: 2.4rem 0 2.4rem;

    background-color: theme(colors.slate.200);
    border-radius: 0.3rem 0.6rem 0.6rem 0.3rem;
    border-left: 0.3rem solid theme(colors.slate.500);
    padding: theme(spacing.bleed);
}

article blockquote p, article blockquote {
    font-size: 1.7rem;
}

article blockquote p {
    margin-bottom: 1.6rem;
}


article blockquote > :last-child {
    margin-bottom: 0px !important;
}

@screen normal {
    article .highlight, article blockquote, article .gist {
        width: 80.5rem;
        margin: 2.4rem theme(spacing.bleed-negative) 2.4rem;
    }
}

article li {
    position: relative;
    margin-bottom: 1.2rem;
}

article ol {
    counter-reset: counts 0;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

article ul {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}


article ol > li {
    display: table;
}

article ul > li {
    padding-left: 2.4rem;
}


article ol > li:before {
    counter-increment: counts;
    content: counter(counts)'. ';
    font-weight: bolder;
    color: theme(colors.blue.500);
    display: table-cell;
    padding-right: 1.5rem;
}


article ol ol > li:before {
    content: counters(counts, '.') '.';
}

article li ol li:last-child, article li ol, article li ul li:last-child, article li ul {
    margin: 0;
}


article ul > li:before {
    content: '→';
    color: theme(colors.blue.500);
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
}

article ul ul, article ul ol, article ol ul, article ol ol {
    margin-top: 1.2rem;
    /* margin-bottom: 1.5rem; */
}


h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 3.2rem;
    margin-top: 5.6rem;
}


h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
    margin-top: 4rem;
}


h4 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
}

article h2 + *, article h3 + *, article h4 + *, article hr + * {
    margin-bottom: 0;
}

article table:not([class]) {
    font-size: 1.6rem;
    line-height: 1.5em;
    width: 100%;
}

article table:not([class]) thead {
    font-weight: bold;
    background-color: theme(colors.amber.300);
}

article table:not([class]) thead th {
    vertical-align: bottom;
    padding: 0.75em;
}

article table:not([class]) tbody tr {
    border-bottom: 1px solid theme(colors.amber.300);
} 

article table:not([class]) tbody td {
    vertical-align: top; 
    padding: 0.75em;
}



