:root {
  --color-primary: #4433FF;
  --color-secondary: #e60067;
  --color-tertiary: #2c0b8e;
  --color-orange: #FFA630;
  --color-bg: #ffffff;
  --color-bgdark: #bddff5;
  --color-bglight: #d5e9f6;
  --color-text-default: #0a0c10;
}