{{- $pages := (where site.RegularPages "Type" "eq" "articles") -}}
{{- if .IsHome -}}
{{- $pages = first 7 $pages -}}
{{- end -}}
{{- $pages = $pages.GroupByDate "2006" -}}
<div class="article-list">
    {{- range $pages -}}
    {{- $firstArticle := index .Pages 0 -}}
    <div>
        <div class="article-list-header">
            /&nbsp;{{ $firstArticle.Date.Format "2006"}}&nbsp;/
        </div>

        <div class="article-list-range">
            {{- range .Pages -}}
            <a href="{{ .Permalink }}">
                <span class="article-list-date">{{ .Date.Format "2006-01-01" }}</span>
                <span class="article-list-title">{{ partial "func/MakeTitle" (dict "title" .Title ) }}</span>
            </a>
            {{- end -}}
        </div>
    </div>
    {{- end -}}
</div>