{{ define "content" }}
<section>
    <ul>
        {{ range (where site.RegularPages "Type" "eq" "articles").GroupByDate "2006-01" -}}
        {{- $firstArticle := index .Pages 0 -}}
        <li><div class="post-date">{{ $firstArticle.Date.Format "January 2006" }}</div></li>
        <ul>
            {{ range .Pages }}
                <li class="title">
                    <a href="{{ .Permalink }}">
                        <div class='post-day'>{{ .Date.Day }}</div>
                        <div class='post-title'>{{ .Title | markdownify }}</div>
                    </a>
                </li>
                {{ end }}
        </ul>
        {{ end }}
    </ul>
</section>
{{ end }}
