---
layout: default
---
<article>

    <div class="center">
        <h1>{{ page.title }}</h1>
        {% include date.html date=page.date %}
        <time>{{ day }}{{ sup }} {{ month_case }} {{ year }}</time>
        {% if page.original %}{% include date.html date=page.original %}
        <br/><time class="original">({{ site.data.translations[page.lang].original }} {{ day }}{{ sup }} {{ month_case }} {{ year }})</time>{% endif %}
    </div>

    <div class="divider"></div>

    {% include strip_content.html %}

    <div class="divider"></div>

    {% include disqus.html %}

</article>

