{{ define "content" }}

{{- $pages := where site.RegularPages "Section" .Section -}}
{{- $prev := $pages.ByDate.Reverse.Prev . -}}
{{- $next := $pages.ByDate.Reverse.Next . -}}
{{ partial "title" . }}


<table class="article-props">
    <tr>
        <th class="width-min">published</th>
        <td class="width-auto">{{ .Date.Format "2006-01-02" }}</td>
    </tr>
    {{- if ne .Lastmod .Date }}
    <tr>
        <th class="width-min">updated</th>
        <td class="width-auto">{{ .Lastmod.Format "2006-01-02" }}</td>
    </tr>
    {{ end }}
    <tr>
        <th class="width-min">reading&nbsp;time</th>
        <td class="width-auto">{{- if gt .ReadingTime 1 }}{{ .ReadingTime }}&nbsp;mins{{ else }}1&nbsp;min{{ end -}}</td>
    </tr>

    {{- with .GetTerms "categories" -}}
    <tr>
        <th class="width-min">categories</th>
        <td class="width-auto">
            {{- range $key, $value := . -}}
                {{ if $key }}, {{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end -}}
        </td>
    </tr>
    {{- end -}}
</table>

{{ partial "article" . }}


<nav class="article-nav" aria-label="Post navigation">

    <span class="article-nav-old">{{ with $prev }}
    <a href="{{ .Permalink }}" title="{{ partial "func/MakeTitle" (dict "title" .Title "isVisible" false ) }}"  aria-label="Go to older post"><span class="arrow">◁</span>older</a>
    {{ end }}</span>

    <span class="article-nav-middle">&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;</span>

    <span class="article-nav-new">{{ with $next }}
    <a href="{{ .Permalink }}" title="{{ partial "func/MakeTitle" (dict "title" .Title "isVisible" false ) }}"  aria-label="Go to newer post">newer<span class="arrow">▶</span></a>
    {{ end }}</span>
</nav>
{{ end }}