{{/* Available callout types: note, warning, cta */}}
{{- $calloutType := .Get "type" | default "note" -}}
{{- if not (or (eq $calloutType "note") (eq $calloutType "warning") (eq $calloutType "cta")) -}}
  {{ errorf "Unknown callout type." }}
{{- end -}}
{{/* Check for single vs multiple paragraphs */}}
{{- $raw := .Inner | $.Page.RenderString | chomp -}}
{{- $isBlock := findRE "<[h|p][^>]*>" $raw -}}
<div class="callout {{ $calloutType }}">
  {{- if $isBlock }}{{ $raw }}{{ else }}<p>{{ $raw }}</p>{{ end -}}
</div>