{{- $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) -}}

{{ if in (.Get "src") ".gif" }}
<img src="{{$src.RelPermalink}}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ else }}
{{/* $type_arr := split $src "." */}}
{{/* $srcbase := index $type_arr 0 */}}
<figure>
    <picture>
      {{/*<source srcset="{{$srcbase}}.webp" type="image/webp">*/}}
    <img src="{{ $src.Permalink }}" alt="{{.Get `alt` }}" defer>
	</picture>
	{{ with .Get "caption" }}
    <figcaption>
    <p class="caption">{{ . }}</p>
	</figcaption>
	{{ end }}
</figure>
{{- end -}}