<div class="admonition note">
    <div class="admonition-icon"><i fill="currentColor" style="display:inline-block"><svg fill="none" style="display:inline-block;vertical-align:middle" height="32" width="32" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg></i></div>
    {{- $title := .Get "title" -}}
    {{ if ne $title "" }}<p class="admonition-title">{{ $title | default "Note" }}</p>{{ end }}
    {{ printf "%s" .Inner | markdownify }}
</div>